* {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color:aquamarine;
}

main {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
    padding: 10px;
}